[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "aftgee"]
	path = aftgee
	url = https://github.com/stc04003/aftgee
[submodule "pseudoCure"]
	path = pseudoCure
	url = https://github.com/stc04003/pseudocure
[submodule "reReg"]
	path = reReg
	url = https://github.com/stc04003/rereg
[submodule "spef"]
	path = spef
	url = https://github.com/stc04003/spef
[submodule "tranSurv"]
	path = tranSurv
	url = https://github.com/stc04003/transurv
