[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "aftgee"]
	path = aftgee
	url = https://github.com/stc04003/aftgee
[submodule "reReg"]
	path = reReg
	url = https://github.com/stc04003/rereg
[submodule "rocTree"]
	path = rocTree
	url = https://github.com/stc04003/roctree
[submodule "spef"]
	path = spef
	url = https://github.com/stc04003/spef
